
@media only screen and (min-width:641px) {
    .nav-bg.homepage-nav {
        background: #001320;
        height: 90px;
        line-height: 90px;
    }
    .top-bar {
        background: transparent;
        height: 90px;
        line-height: 90px;
    }
    .top-bar-section li:not(.has-form) a:not(.button) {
        background: transparent; 
    }
    .tablet-menu li {
        color: #ffffff!important;
        height: 90px;
        line-height: 90px;
    }
    .tablet-menu li a{
        color: #ffffff!important;
        height: 90px;
        line-height: 90px!important;
    }
    .tablet-menu li a:hover, .tablet-menu li a:active {
        background: transparent!important;
        color:#F1173B!important;
    }
    .top-bar-section .has-dropdown > a::after {
        top: 45px;
        right: -11px;
    }
    #top_category_menu ul li{
        margin-bottom: 1px;
    }
    #top_category_menu ul li ,#top_category_menu ul li a{
        max-width: 100%;
        width: 100%;
        background: #001320;
         height: 35px;
        line-height: 32px!important;
    }
    .f-dropdown::before, .f-dropdown.open::before, .f-dropdown::after, .f-dropdown.open::after {
        display: none;
        visibility: hidden;
    }
    ul.f-dropdown {
        border: 0px;
    }
    .select-box {
        display: inline-flex; 
        width: 100%;
    }
    .breadcrumb a:hover { color: #f1173b!important; }
    .place_ad{
        background: #1d3e61!important;
        color: #fff !important;
        font-size: 16px;
        font-weight: normal !important;
        margin-left: 0px;
        padding: 2px 10px 8px;
        white-space: nowrap;
        border-radius: 0px;
    }
    .secondary-btn-1 {
        background: #145A9F!important;
        border: 1px solid #145A9F!important;
    }
    .secondary-btn-2, .secondary-btn-2:hover{
        background: #1eb9d8 !important;
        border: 1px solid #1eb9d8 !important;
        color: #ffffff;
    }
    .send-btn {
        background: #0E69B2 !important;
        border: 1px solid #0E69B2 !important;
        color: #ffffff;
        padding: 5px 20px 8px 20px;
        border-radius: 0px;
    }
    .listing:hover {
        border-color: #1eb9d8;
    }
    .list-title a{
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: inherit;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        color: #085277!important;
        overflow: hidden;
    }
    .listing:hover .list-title a {
        color: #1eb9d8!important;
    }
    .list-price {
        font-size: 20px;
        font-weight: bold;
        color: #66B6DE;
        white-space: nowrap;
    }
    .upsells::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        border: 15px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-top-color: #F88540;
        border-right-color: #F88540;
        z-index: 1;
    }
    .upsells::after {
        font-family: 'FontAwesome';
        position: absolute;
        top: 3px;
        right: 2px;
        content: "\f245";
        width: 15px;
        height: 30px;
        display: block;
        font-size: 12px;
        text-align: center;
        transform: rotate(24deg);
        z-index: 2;
        color: #fff;
    }

    .user-profile {
        background: #fff;
        padding: 10px!important;
        text-align: center;
    }
    .member_titles {
        background: #145A9F;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
        height: auto;
        font-weight: bold;
        font-size: 16px;
    }
    .fa-accordion .accordion dd > a, .fa-accordion .accordion dd > a:hover, .fa-accordion .accordion dd.active > a {
        border: 0px;
        margin-bottom: 0;
    }
    .fa-accordion .accordion dd {
        border-bottom: 1px solid #ddd;
    }
    .fa-accordion .accordion .content, .fa-accordion .accordion .content.active {
        background: #fff;
        border: 0px solid #e3e3e3;
        border-radius: 0 0 0px 0px;
        margin: 0px 0 10px;
        padding: 0px 10px;
    }
    .box label{
        line-height: 40px;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .alert-btn-wrapper {
        margin: 0;
    }

    /* plugin version css */
    .listings-top h1 {
        font-size: 20px;
        font-weight: bold;
        line-height: 31px;
        color: #145A9F;
        margin-bottom: 2px;
        display: inline-block;
        padding-right: 10px;
    }
    .listings-top .total, .listings-top .seo_text {
        font-size: 12px;
        color: #a9a9a9;
    }
    .crumbs a {
        color: #666666;
        font-size: 12px;
    }
    .crumbs a:hover {
        color: #f1173b;
    }
    .props {
        font-size: 13px;
        color: #666;
        border-collapse: collapse;
    }
    .props .prop {
        float: left;
        width: 50%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 20px;
        height: 20px;
    }
    .details {
        float: left;
        height: 173px;
        padding: 19px 20px 20px 0px;
        position: absolute;
        width: auto;
        top: 0;
        bottom: 0;
    }
    .details .desc {
        position: absolute;
        bottom: 19px;
        left: 0;
        right: 19px;
        font: inherit;
        line-height: inherit;
        color: inherit;
        max-height: 40px;
        line-height: 20px;
        overflow: hidden;
    }
    .list-title .head-span{
        color: #333333;
    }
    .ad_header_block .top .price {
        margin-top: 4px;
        text-align: right;
        font-size: 26px;
        font-weight: bold;
        border: 0;
        color: #085277;
        padding: 0;
        margin: 0;
        line-height: 22px;
        width: 25%;
        float: right;
    }
    .ad_header_block .price small {
        margin-right: 27px;
        display: inline-block;
        font-size: 13px;
    }
    .ad_header_block .price .price_descr {
        font-size: 13px;
        line-height: normal;
        margin-right: 30px;
        margin-top: 5px;
        max-width: 150px;
        color: #666;
        font-weight: normal;
    }
    .ad_header_block .title {
        color: #333333;
        font-size: 26px;
        line-height: 30px;
        padding-top: 0;
        max-width: 75%;
    }
    .ad_header_block .top-footer {
        display: inline;
        padding: 0 10px;
        clear: both;
    }
    .ad_header_block .top a.location {
        color: #145A9F;
    }
    .ad_header_block .top-footer .ref {
        font-size: 14px;
        line-height: 14px;
    }
    .ad_header_block label {
        margin-bottom: 5px!important;
    }
    .check-label {
        font-size: 12px;
        line-height: 15px !important;
        margin-bottom: 5px;
    }
    .ad-contact-phone .top {
        color: #fff;
        font-size: 22px;
        padding: 10px;
        background: #1eb9d8;
        text-align: center;
    }
    .type_ad .block_details{
        position: absolute;
        top: 0;
        left: 35%;
    }
    .traderview a.link {
        font-size: 14px;
        padding-top: 5px;
        display: inline-block;
        color: #145A9F;
        text-transform: uppercase;
    }
    .featured_ads_area .media-object {
        background: #F6F6F6;        
        width: auto;
        padding: 10px;
        display: inline-flex;
        margin-bottom: 10px;
    }
    .featured_ads_area .thumbnail {
        width: 110px;
    }
    .featured_ads_area .media-object-section .title, .featured_ads_area .media-object-section .title a {
        font-size: 12px; 
        color: #1eb9d8;  
        line-height: 14px; 
    }
    .featured_ads_area .descr{
        font-size: 12px;
        line-height: 17px;
        color: #333333;
    }
    .featured_ads_area .media-object-section a{
        color: #6FA2C1;
    }
    

    /* Swiper slider */
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-thumbs {
        /*height: 20%;*/
        height: 100px;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 15%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    .tabs {
        border-bottom: 3px solid #666666;
    }
    .tabs dd, .tabs .tab-title {
        width: auto!important;
    }
    .tabs .tab-title a{
        padding: 10px 17px;
        border-left: 0px;
    }
    .tabs .tab-title a i{
        font-size: 1.5em;
    }
    .tabs .tab-title.active a {
        color: #fff;
        background-color: #666 !important;
    }
    .tabs dd > a:hover, .tabs .tab-title > a:hover {
        background-color: #fff;
    }
    
    .breadcrumb a:hover { color: #f1173b!important; }

    .reveal-modal {
        padding: 30px 20px;
        /*background: #D5D5D5;*/
        border: 0px solid #e3e3e3;
        box-shadow: none;
        box-shadow: 2px 1px 4px 1px #666;
    }
    .reveal-modal label {
        font-weight: normal;
        color: #666;
        line-height: 16px;
        margin-bottom: 2px;
    }
    .reveal-modal input, .reveal-modal textarea{
        border: 1px solid #999999;
        box-shadow: none;
    }
    .ad-block-specs {
        border-top: 4px solid #4F4F4F;
        margin-top: 20px;
    }
    .ad-block-specs .ad-block-title {
        padding: 5px 0;
        border-bottom: 1px solid #DDD;
        color: #333;
    }

    /* Footer section */
    #footer_ad {
        background-color: #001320!important;
        padding-bottom: 15px;
    }
    #footer_ad .copy {
        font-size: 13px;
        line-height: 21px;
        color: #fff;
        float: left;
    }
    #footer_ad .copy a {
        text-transform: none;
        color: #398cc6;
        padding-bottom: 2px;
        display: inline-block;
        position: relative;
        margin-top: 15px;
    }
    #footer_ad .socials {
        position: relative;
        overflow: hidden;
        margin: 0px 0 0 0;
        display: inline-flex;
        float: right;
    }
    #footer_ad .socials li {
        float: left;
    }
    #footer_ad .socials li a {
        width: 50px;
        height: 50px;
        display: inline-block;
        font-size: 29px;
        line-height: 46px;
        text-align: center;
        background: #1a2b37;
        color: #fff;
        margin-right: 5px;
        margin-left: 5px;
    }
    #footer_ad .socials li a:hover {
        background: #F1173B;
    }
    .top-bar-section ul li:hover:not(.has-form) > a {
        background: transparent;
    }
    .tabs dd > a, .tabs .tab-title > a {
        min-width: auto;
    }
    .list-col-1 {
        width: 25%;
        float: left;
        margin-right: 25px;
    }
    .list-col-2, .list-distance {
        width: 70%;
    }
    .latest-product-row {
        height: 100px;
        width: 100%;
        background-color: green;
        position: fixed;
        bottom: 0;
        z-index: 999;
    }
    .latest-product-row .ad-actionbar {
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 1;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        color: #666;
        font-size: 12px;
        transition: bottom ease-in-out 300ms;
    }
    .latest-product-row .ad-actionbar-wrapper {
        display: table;
        width: 100%;
    }
    .latest-product-row .ad-actionbar .left {
        vertical-align: top;
        display: table-cell;
    }
    .latest-product-row .ad-actionbar .photo {
        float: left;
        margin-right: 10px;
        height: 85px;
    }
    .latest-product-row .ad-actionbar .photo img {
        height: 60px;
        width: auto;
    }
    .latest-product-row .ad-actionbar .title {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        color: #333;
    }
    .latest-product-row .ad-actionbar .price {
        font-size: 18px;
        color: #333;
    }
    .latest-product-row .ad-actionbar .stats .location {
        margin-right: 10px;
    }
}
@media only screen and (min-width:960px) and (max-width: 1151px){
    .list-col-1 {
        width: 30%;
        float: left;
        margin-right: 25px;
    }
    .list-col-2, .list-distance {
        width: 65%;
    }
    .latest-product-row {
        height: 120px;
    }
}
@media only screen and (min-width:760px) and (max-width: 959px){
    .tablet-menu {
        display: inline-flex;
    }
    #top_category_menu {
        position: relative;
        left: 0;
        top: 0;
        background: transparent;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.21);
        z-index: 5;
        width: 100%;
        display: none;
        padding: 0;
    }
    #top_category_menu a.main_category {
        background-color: transparent;
        /*color: #F1173B !important;*/
    }
    .list-col-1 {
        width: 33% !important;
        margin-right: 15px;
    }
    .list-col-2 {
        width: 60%;
    }
    .details .desc {
        visibility: hidden;
    }
    .listing h3, .listing h5 {
        margin-top: -5px;
        float: left;
        width: auto;
    }
    .place_ad {
        font-size: 13px;
    }

    .tabs dd > a, .tabs .tab-title > a {
        min-width: auto;
    }
    .featured_ads_area .media-object {
        display: block;
    }
    .featured_ads_area .thumbnail {
        width: auto;
        margin-bottom: 10px
    }
    .latest-product-row {
        height: 130px;
    }
    .type_ad .block_details {
        position: absolute;
        top: 0;
        left: 45%;
    }
}
@media only screen and (min-width:641px) and (max-width: 759px){
    .tablet-menu {
        display: inline-flex;
    }
    #top_category_menu {
        position: relative;
        left: 0;
        top: 0;
        background: transparent;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.21);
        z-index: 5;
        width: 100%;
        display: none;
        padding: 0;
    }
    #top_category_menu a.main_category {
        background-color: transparent;
        /*color: #F1173B !important;*/
    }
    .list-col-1 {
        width: 25% !important;
        margin-right: 15px;
    }
    .list-col-2 {
        width: 70%;
    }
    .props {
        visibility: hidden;
    }
    .details .desc {
        visibility: hidden;
    }
    .listing h3, .listing h5 {
        margin-top: -5px;
        float: left;
        width: auto;
    }
    .list-price {
        float: right;
        margin-top: 0px;
    }
    .place_ad {
        font-size: 11px;
    }

    .tabs dd > a, .tabs .tab-title > a {
        min-width: auto;
    }
    .featured_ads_area .media-object {
        display: block;
    }
    .featured_ads_area .thumbnail {
        width: auto;
        margin-bottom: 10px
    }
    .latest-product-row {
        height: 130px;
    }
    .latest-product-row .secondary-btn-2{
        padding: 8px 10px 11px 10px;
    }
    .type_ad .block_details {
        position: absolute;
        top: 0;
        left: 50%;
    }
}
@media only screen and (min-width:320px) and (max-width: 640px){
    .top-bar .toggle-topbar.menu-icon a span {
        background:url(../images/Menu-icon-white.png);
    }
    #home-nav li a {
        border-bottom: 0px;
        box-shadow: none;
        margin: 1px 0;
    }
    .mobile-menu .accordion .fi-plus, .mobile-menu .accordion .fi-minus {
        color: #ffffff!important;
    }
    #adlink-mobile{
        display: block!important;
    }
    .nav-bg {
        background: #fff;
        height: 84px;
        line-height: 85px;
        position: relative;
    }
    .top-bar {
        background: #0a0a14;
        height: 85px;
        line-height: 85px;
    }
    .top-bar .title-area {
        height: 85px;
    }
    .place_ad{
        background: #1d3e61!important;
        color: #fff !important;
        font-size: 16px;
        font-weight: normal !important;
        margin-left: 0px;
        padding: 2px 10px 8px;
        white-space: nowrap;
        border-radius: 0px;
    }
    .secondary-btn-1 {
        background: #145A9F!important;
        border: 1px solid #145A9F!important;
    }
    .secondary-btn-2, .secondary-btn-2:hover{
        background: #1eb9d8 !important;
        border: 1px solid #1eb9d8 !important;
        color: #ffffff;
    }
    .send-btn {
        background: #0E69B2 !important;
        border: 1px solid #0E69B2 !important;
        color: #ffffff;
        padding: 5px 20px 8px 20px;
        border-radius: 0px;
    }
    .listing:hover {
        border-color: #1eb9d8;
    }
    .list-title a{
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: inherit;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.38;
        color: #085277;
        overflow: hidden;
    }
    .listing h3 a, .listing h5 a {
        color: #1D3E61;
    }
    .listing:hover .list-title a {
        color: #1eb9d8!important;
    }
    .list-price {
        font-size: 20px;
        font-weight: bold;
        color: #66B6DE;
        white-space: nowrap;
    }
    .upsells::before {
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        border: 15px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
        border-top-color: #F88540;
        border-right-color: #F88540;
        z-index: 1;
    }
    .upsells::after {
        font-family: 'FontAwesome';
        position: absolute;
        top: 3px;
        right: 2px;
        content: "\f245";
        width: 15px;
        height: 30px;
        display: block;
        font-size: 12px;
        text-align: center;
        transform: rotate(24deg);
        z-index: 2;
        color: #fff;
    }

    .user-profile {
        background: #fff;
        padding: 10px!important;
        text-align: center;
    }
    .member_titles {
        background: #145A9F;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
        height: auto;
        font-weight: bold;
        font-size: 16px;
    }
    .select-box {
        display: inline!important; 
        width: 100%;
    }
    #footer_ad {
        background-color: #001320!important;
    }
    #footer_ad .copy {
        font-size: 13px;
        line-height: 21px;
        color: #fff;
    }
    #footer_ad .copy a {
        text-transform: none;
        color: #398cc6;
        padding-bottom: 2px;
        display: inline-block;
        position: relative;
    }
    #footer_ad .socials {
        position: relative;
        overflow: hidden;
        margin: 10px 0 0 0;
        display: inline-flex;
    }
    #footer_ad .socials li {
        float: left;
    }
    #footer_ad .socials li a {
        width: 50px;
        height: 50px;
        display: inline-block;
        font-size: 29px;
        line-height: 46px;
        text-align: center;
        background: #1a2b37;
        color: #fff;
        margin-right: 5px;
        margin-left: 5px;
    }
    #footer_ad .socials li a:hover {
        background: #F1173B;
    }

    /* Swiper slider */
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-thumbs {
        /*height: 20%;*/
        height: 100px;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    .tabs {
        border-bottom: 3px solid #666666;
    }
    .tabs dd, .tabs .tab-title {
        width: auto!important;
    }
    .tabs .tab-title a{
        padding: 10px 17px;
        border-left: 0px;
    }
    .tabs .tab-title a i{
        font-size: 1.5em;
    }
    .tabs .tab-title.active a {
        color: #fff;
        background-color: #666 !important;
    }
    .tabs dd > a:hover, .tabs .tab-title > a:hover {
        background-color: #fff;
    }
    
    .breadcrumb span, .breadcrumb a:hover { color: #f1173b!important; }

    .reveal-modal {
        padding: 30px 20px;
        /*background: #D5D5D5;*/
        border: 0px solid #e3e3e3;
        box-shadow: none;
        box-shadow: 2px 1px 4px 1px #666;
    }
    .reveal-modal label {
        font-weight: normal;
        color: #666;
        line-height: 16px;
        margin-bottom: 2px;
    }
    .reveal-modal input, .reveal-modal textarea{
        border: 1px solid #999999;
        box-shadow: none;
    }
    .ad-block-specs {
        border-top: 4px solid #4F4F4F;
        margin-top: 20px;
    }
    .ad-block-specs .ad-block-title {
        padding: 5px 0;
        border-bottom: 1px solid #DDD;
        color: #333;
    }

    /* plugin version css */
    .listings-top h1 {
        font-size: 20px;
        font-weight: bold;
        line-height: 31px;
        color: #145A9F;
        margin-bottom: 2px;
        display: inline-block;
        padding-right: 10px;
    }
    .listings-top .total, .listings-top .seo_text {
        font-size: 12px;
        color: #a9a9a9;
    }
    .ad_header_block .top .price {
        margin-top: 4px;
        text-align: left;
        font-size: 26px;
        font-weight: bold;
        border: 0;
        color: #085277;
        padding: 0;
        margin: 0;
        line-height: 22px;
        width: 100%;
        float: left;
    }
    .ad_header_block .price small {
        margin-right: 27px;
        display: inline-block;
        font-size: 13px;
    }
    .ad_header_block .price .price_descr {
        font-size: 13px;
        line-height: normal;
        margin-right: 30px;
        margin-top: 5px;
        max-width: 150px;
        color: #666;
        font-weight: normal;
    }
    .ad_header_block .title {
        color: #333333;
        font-size: 26px;
        line-height: 30px;
        padding-top: 0;
        max-width: 100%;
    }
    .ad_header_block .top-footer {
        display: inline;
        padding: 0 10px;
        clear: both;
    }
    .ad_header_block .top a.location {
        color: #145A9F;
    }
    .ad_header_block .top-footer .ref {
        font-size: 14px;
        line-height: 14px;
    }
    .crumbs a {
        color: #666666;
        font-size: 12px;
    }
    .crumbs a:hover {
        color: #f1173b;
    }
    .latest-product-row {
        height: 150px;
        width: 100%;
        background-color: green;
        position: fixed;
        bottom: 0;
        z-index: 999;
    }
    .latest-product-row .ad-actionbar {
        position: fixed;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 1;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        color: #666;
        font-size: 12px;
        transition: bottom ease-in-out 300ms;
    }
    .latest-product-row .ad-actionbar-wrapper {
        display: table;
        width: 100%;
    }
    .latest-product-row .ad-actionbar .left {
        vertical-align: top;
        display: table-cell;
    }
    .latest-product-row .ad-actionbar .photo {
        float: left;
        margin-right: 10px;
        height: 85px;
    }
    .latest-product-row .ad-actionbar .photo img {
        height: 60px;
        width: auto;
    }
    .latest-product-row .ad-actionbar .title {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        color: #333;
    }
    .latest-product-row .ad-actionbar .price {
        font-size: 18px;
        color: #333;
    }
    .latest-product-row .ad-actionbar .stats .location {
        margin-right: 10px;
    }
    .latest-product-row .ad-actionbar .secondary-btn-2 {
        font-size: 20px;
        line-height: 18px;
        padding: 7px 20px;
    }
    .latest-product-row .ad-actionbar i {
        margin-right: 0px!important;
    }
}

#adlink-mobile .m-t-0{ margin-top: 0px;}
#adlink-mobile .m-t-10{ margin-top: 10px;}
#adlink-mobile .m-t-20{ margin-top: 20px;}
#adlink-mobile .m-t-30{ margin-top: 30px;}
#adlink-mobile .m-t-40{ margin-top: 40px;}
#adlink-mobile .m-t-50{ margin-top: 50px;}
#adlink-mobile .m-t-60{ margin-top: 60px;}
#adlink-mobile .m-t-80{ margin-top: 80px;}

#adlink-mobile .m-b-0{ margin-bottom: 0px;}
#adlink-mobile .m-b-10{ margin-bottom: 10px;}
#adlink-mobile .m-b-20{ margin-bottom: 20px;}
#adlink-mobile .m-b-30{ margin-bottom: 30px;}
#adlink-mobile .m-b-40{ margin-bottom: 40px;}
#adlink-mobile .m-b-50{ margin-bottom: 50px;}
#adlink-mobile .m-b-60{ margin-bottom: 60px;}
#adlink-mobile .m-b-80{ margin-bottom: 80px;}

#adlink-mobile .m-l-0{ margin-left: 0px;}
#adlink-mobile .m-l-10{ margin-left: 10px;}
#adlink-mobile .m-l-20{ margin-left: 20px;}
#adlink-mobile .m-l-30{ margin-left: 30px;}
#adlink-mobile .m-l-40{ margin-left: 40px;}
#adlink-mobile .m-l-50{ margin-left: 50px;}
#adlink-mobile .m-l-60{ margin-left: 60px;}
#adlink-mobile .m-l-80{ margin-left: 80px;}

#adlink-mobile .m-r-0{ margin-right: 0px;}
#adlink-mobile .m-r-10{ margin-right: 10px;}
#adlink-mobile .m-r-20{ margin-right: 20px;}
#adlink-mobile .m-r-30{ margin-right: 30px;}
#adlink-mobile .m-r-40{ margin-right: 40px;}
#adlink-mobile .m-r-50{ margin-right: 50px;}
#adlink-mobile .m-r-60{ margin-right: 60px;}
#adlink-mobile .m-r-80{ margin-right: 80px;}

#adlink-mobile .p-0{ padding: 0px;}
#adlink-mobile .p-10{ padding: 10px;}
#adlink-mobile .p-20{ padding: 20px;}
#adlink-mobile .p-30{ padding: 30px;}
#adlink-mobile .p-40{ padding: 40px;}
#adlink-mobile .p-50{ padding: 50px;}

#adlink-mobile .p-t-0{ padding-top: 0px;}
#adlink-mobile .p-t-10{ padding-top: 10px;}
#adlink-mobile .p-t-20{ padding-top: 20px;}
#adlink-mobile .p-t-30{ padding-top: 30px;}
#adlink-mobile .p-t-40{ padding-top: 40px;}
#adlink-mobile .p-t-50{ padding-top: 50px;}
#adlink-mobile .p-t-60{ padding-top: 60px;}
#adlink-mobile .p-t-80{ padding-top: 80px;}

#adlink-mobile .p-b-0{ padding-bottom: 0px;}
#adlink-mobile .p-b-10{ padding-bottom: 10px;}
#adlink-mobile .p-b-20{ padding-bottom: 20px;}
#adlink-mobile .p-b-30{ padding-bottom: 30px;}
#adlink-mobile .p-b-40{ padding-bottom: 40px;}
#adlink-mobile .p-b-50{ padding-bottom: 50px;}
#adlink-mobile .p-b-60{ padding-bottom: 60px;}
#adlink-mobile .p-b-80{ padding-bottom: 80px;}

#adlink-mobile .p-l-0{ padding-left: 0px;}
#adlink-mobile .p-l-10{ padding-left: 10px;}
#adlink-mobile .p-l-20{ padding-left: 20px;}
#adlink-mobile .p-l-30{ padding-left: 30px;}
#adlink-mobile .p-l-40{ padding-left: 40px;}
#adlink-mobile .p-l-50{ padding-left: 50px;}
#adlink-mobile .p-l-60{ padding-left: 60px;}
#adlink-mobile .p-l-80{ padding-left: 80px;}

#adlink-mobile .p-r-0{ padding-right: 0px;}
#adlink-mobile .p-r-10{ padding-right: 10px;}
#adlink-mobile .p-r-20{ padding-right: 20px;}
#adlink-mobile .p-r-30{ padding-right: 30px;}
#adlink-mobile .p-r-40{ padding-right: 40px;}
#adlink-mobile .p-r-50{ padding-right: 50px;}
#adlink-mobile .p-r-60{ padding-right: 60px;}
#adlink-mobile .p-r-80{ padding-right: 80px;}