<div class="row">
    <div class="small-24 medium-24 large-24 columns p-b-15">
        
        <div class="category-links">
            <div class="row">
                <div class="small-24 medium-12 large-12 columns foo-block center">
                    <div class="copy">BoatQuay © <span id="copyright-year">2017</span>.&nbsp;
                        <span><a href="#">Privacy Policy</a></span>
                    </div>
                </div>
                <div class="small-24 medium-12 large-12 columns foo-block center">
                    <ul class="socials right">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>