<div class="row adlink-mobile">
    <div class="small-24 columns m-t-20">
        <div id="div-header-partnership">
            <div class="demo hide-for-medium-up">
                <nav>
                    <!-- Menu Toggle btn-->
                    <div class="menu-toggle">
                        <button type="button" id="menu-btn">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                        <li class="user-profile center">
                            <span><i class="fa fa-user-circle fa-2x" aria-hidden="true"></i></span><br>
                            <span class="title">jono-m</span><br>
                            <span class="title">member since 06.07.2017</span>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span><i class="fa fa-keyboard-o" aria-hidden="true"></i></span>
                                <span class="title">Type</span>
                            </a>
                            <!-- Level Two-->
                            <ul>
                                <li><a href="#">Motor Boats (5214)</a></li>
                                <li><a href="#">Sailing Boats (2106)</a></li>
                                <li><a href="#">Boat Engines (1714)</a></li>
                                <li><a href="#">RIBs and Inflatable Boats (1189)</a></li>
                                <li><a href="#">Other (667)</a></li>
                                <li><a href="#">Small Boats (562)</a></li>
                                <li><a href="#">Boat Trailers (342)</a></li>
                                <li><a href="#">Commercial Boats (58)</a></li>
                                <li><a href="#">Boat Moorings (37 )</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript:;">
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span class="title">Region</span>
                            </a>
                            <!-- Level Two-->
                            <ul>
                                <li><a href="#">South West (2715)</a></li>
                                <li><a href="#">South East (2540)</a></li>
                                <li><a href="#">Eastern (997)</a></li>
                                <li><a href="#">North West (374)</a></li>
                                <li><a href="#">Wales (304)</a></li>
                                <li><a href="#">North East (260)</a></li>
                                <li><a href="#">Scotland (226)</a></li>
                                <li><a href="#">Thames Valley (182)</a></li>
                                <li><a href="#">East Midlands (171)</a></li>
                                <li><a href="#">West Midlands (127)</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="" href="javascript:;">
                                <span><i class="fa fa-money" aria-hidden="true"></i></span>
                                <span class="title">Price</span>
                            </a>
                            <ul>
                                <li><a href="#">Up to £10,000 (5106)</a></li>
                                <li><a href="#">£10,000 - £50,000 (2759)</a></li>
                                <li><a href="#">£50,000 - £100,000 (1214)</a></li>
                                <li><a href="#">£100,000 - £200,000 (775)</a></li>
                                <li><a href="#">£10,000 - £15,000 (736)</a></li>
                                <li><a href="#">£200,000 - £500,000 (572)</a></li>
                                <li><a href="#">£500,000 (+359)</a></li>
                                <li><a href="#">POA (289 )</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="" href="javascript:;">
                                <span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                <span class="title">Manufacturer</span>
                            </a>
                            <ul>
                                <li><a href="#">Tohatsu (378)</a></li>
                                <li><a href="#">Mercury (285)</a></li>
                                <li><a href="#">Jeanneau (266)</a></li>
                                <li><a href="#">Beneteau (235)</a></li>
                                <li><a href="#">Extreme (228)</a></li>
                                <li><a href="#">Fairline (209)</a></li>
                                <li><a href="#">Bayliner (208)</a></li>
                                <li><a href="#">Sealine (205)</a></li>
                                <li><a href="#">Honda Honwave (192)</a></li>
                                <li><a href="#">Bavaria (182)</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="" href="javascript:;">
                                <span><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                <span class="title">Sale type</span>
                            </a>
                            <ul>
                                <li><a href="#">Trade (10566)</a></li>
                                <li><a href="#">Private (1323)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript://">
                                <input id="checkbox1" type="checkbox" class="m-b-0 m-r-10"><label for="checkbox1" style="color: #ffffff">Expired ads</label>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="small-24 medium-4 large-4 columns p-t-20">
                    <a class="button place_ad" ui-sref="home" ng-show="backbutton">Back to listings</a>
                </div>
                <div class="small-24 medium-11 large-12 columns">
                    <div class="right">
                        <a target="_blank" href="#">
                            <img src="https://www.boatsandoutboards.co.uk/img/settings/partnership/p2_site-logo-partnership_0_1473334447.png">
                        </a>
                    </div>
                </div>
                <div class="small-24 medium-9 large-8 columns">
                    <div class="p-t-20 right">
                        <a href="{{config.ADLINK_URL}}/paa/first_step" class="button place_ad m-r-10">place your ad</a>
                        <a href="{{config.ADLINK_URL}}/manage_my_ad/active" class="button place_ad">manage your ads</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
