<div class="row">

<div ui-view="subheader" class="small-24 medium-24 large-24 columns m-b-10"></div>

<div ui-view="sidebar" class="small-24 medium-6 large-6 columns hide-for-small-only"></div>

<div ui-view="content" id="listingDiv" class="small-24 medium-18 large-18 columns"></div>

</div>