<div class="row">
    <div class="small-24 medium-12 large-14 columns p-l-10">
        <div class="alert-btn-wrapper">
            <a rel="nofollow" href="javascript:void(0);" class="alertButton secondary-btn-1 expand button mb0">Create new email alert<span class="alert-white-icon">&nbsp;</span></a>
        </div>
    </div>
    <div class="m-b-20 small-24 medium-12 large-8 columns" style="padding: 0 8px;">
        <form class="ads-list-options-form" action="" method="get" name="form_search" id="form_search">
            <div class="box select-box" style="">
                <label>Sort&nbsp;by:</label>
                <select ng-class="wide" ng-model="adListFilter" ng-options="choice for choice in filters" ng-selected="newest">
                </select>
            </div>
        </form>
    </div>
</div>

<div class="listing" ng-repeat="ad in ads">
    <!--<a ui-sref="ad-detail({adSlug: 'mercury-f115exlpt-ct-efi'})" class="tricky-link" ng-bind="ad.Title"></a>-->
    <div class="featured-ribbon">featured</div>
    <div class="urgent-ribbon">urgent</div>
    <div class="clearfix">
        <div class="list-col-1">
            <div class="list-img ">
                <img alt="{{ad.Title}}" class="lazy" ng-src="{{ad.Photos[0].PathBig}}" style="display: inline-block;">
            </div>
            <div class="clearfix list-mob-icons">
                <span class="list-img-num">
                    1
                </span>
                <span id="fav_16255411">
                    <a href="javascript:void(0)" class="unsaved-item outside-tricky">FA</a>
                </span>
            </div>
        </div>
        <div class="list-col-2">
            <div class="clearfix details">
                <h5 class="list-title">
                <a ui-sref="ad-detail({adSlug: ad.slug, category: ad.slugcategory, adId: ad.ID})" ng-init="suffix = (ad.Title.length > 50) ? '...' : ''" ng-bind="(ad.Title | limitTo:50) + suffix"></a>
                </h5>
                <div class="list-price" ng-bind="'&#163; ' + ad.PriceOriginal">
                </div>
                <div class="clearfix"></div>
                <div class="props clearfix hide-for-small-only">
                    <div class="prop" ng-if="ad.SubCategory != ''">
                        <span class="al-label">Subcategory</span>
                        <span class="value" ng-bind="ad.SubCategory"></span>
                    </div>
                    <div class="prop">
                        <span class="al-label">Mooring Country</span>
                        <span class="value" ng-bind="ad.Country"></span>
                    </div>
                    <div class="prop">
                        <span class="al-label">Year built</span>
                        <span class="value"> - </span>
                    </div>
                    <div class="prop">
                        <span class="al-label">Cylinder capacity</span>
                        <span class="value"> - </span>
                    </div>
                    <div class="prop">
                        <span class="al-label">Power</span>
                        <span class="value"> - </span>
                    </div>
                    <div class="prop">
                        <span class="al-label">Weight dry</span>
                        <span class="value"> - </span>
                    </div>
                </div>
                <div class="desc hide-for-small-only" ng-init="suffix = (ad.Description.length > 100) ? '...' : ''" ng-bind="(ad.Description | limitTo:100) + suffix"></div>
            </div>
            <div class="upsells" ng-show="ad.is_featured"></div>
            <div class="list-distance">
                <div class="clearfix">
                    <div class="list-miles">
                        <b>United Kingdom</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pagination numberofpages="no_of_pages" selectedpage="current_page"></pagination>
