<div class="search-filters">
<div class="alert-btn-wrapper">
    <a rel="nofollow" class="alertButton secondary-btn-1 expand button mb0" href="{{config.ADLINK_URL}}/paa/first_step">place your ad</a>
</div>
<div id="list_home_location_box" class="fa-accordion" ng-init="showoption = {}">
    <dl class="accordion" ng-repeat="filter in adsFilter track by $index" data-accordion>
        <dd class="accordion-navigation active">
            <a href="#panelBlock0" class="clearfix">
                <h5 class="left" ng-bind="filter.Name"></h5>
                <i class=" fi-minus right"></i>
            </a>
            <div id="panelBlock0" class="content clearfix active" ng-repeat="option in filter.Options track by $index">
                <ul class="link-list">
                    <li><a href="#" ng-bind="option.Name + ' (' + option.Ads + ')'"></a></li>
                </ul>
            </div>
            <a href="javascript:void(0);" ng-if="filter.Options.length > 9">View All</a>
        </dd>
    </dl>
    <dl>
        <dd class="accordion-navigation">
            <ul style="padding: 5px 10px 0px;">
                <li class="">
                    <a href="javascript://">
                        <input id="checkbox1"  type="checkbox"><label for="checkbox1" style="color: #313133;">Expired ads</label>
                    </a>
                </li>
            </ul>
        </dd>
    </dl>
</div>
</div>