<div class="pagination-centered">
  <div>
	<ul class="pagination">
	  <li ng-hide="(selectedpage == 1)" class="arrow pager-prev unavailable">
		<a ui-sref="home({page: selectedpage - 1})" rel="prev">«</a>
	  </li>
	  <li ng-show="showprev">
		<a ng-disabled="true">...</a>
	  </li>
	  <li ng-repeat="page in no_of_pages track by $index" ng-class="(page == selectedpage) ? 'current': ''">
		<a ui-sref="home({page: page})" ng-bind="page"></a>
	  </li>
	  <li ng-show="shownext">
		<a ng-disabled="true">...</a>
	  </li>
	  <li ng-hide="(selectedpage == numberofpages.length)" class="arrow pager-next">
		<a ui-sref="home({page: selectedpage -- 1})" rel="next">»</a>
	  </li>
	
	</ul>
  </div>
</div>