                <div class="type_ad clearfix">
                    <div class="traderview">
                        <div class="float_left img-wrapper">
                            <img src="https://www.boatsandoutboards.co.uk/img/businesses/326/103326_ctc-marine-leisure_small.jpg" alt="{{}}}" ng-title="ad.Username" width="84" height="64" border="0">
                        </div>
                        <div class="block_details">
                            <div class="title"> <strong ng-bind="ad.Username"></strong></div>
                            <div class="total" ng-bind="userads_length + ' ads'"></div>
                        </div>
                        <div class="link-wrapper m-b-20">
                            <div><a href="http://www.boatquay.co.uk/adlink-test.php?emburl=%2Fview-trader%2Fctc-marine-leisure%2F103326" class="link">business page &gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color: #ffffff;">
                    <ul class="tabs" data-tab role="tablist">
                        <li class="tab-title active"><a href="#email-tab" role="tab" tabindex="0" aria-selected="true" aria-controls="email-tab" title="Photos"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i><span class="hide-for-medium-only">Email</span></a></li>
                        <li class="tab-title"><a href="#contact-tab" role="tab" tabindex="0" aria-selected="false" aria-controls="contact-tab" title="Location"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i><span class="hide-for-medium-only">Contact details</span></a></li>
                    </ul>
                    <div class="tabs-content">
                      <section role="tabpanel" aria-hidden="false" class="content active" id="email-tab">
                            <div class="p-20">
                                <form>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>First name</label>
                                            <input type="text" name="fname" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Last name</label>
                                            <input type="text" name="lname" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Email</label>
                                            <input type="text" name="email" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Phone number (optional)</label>
                                            <input type="text" name="phone" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>What do you want to ask?</label>
                                            <textarea rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Captcha</label>
                                            <div class="g-recaptcha" data-sitekey="6Lc_0f4SAAAAAF9ZA_d7Dxi9qRbPMMNW-tLSvhe6"></div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="small-24 columns center">
                                            <button name="register_send" id="register_send" class="button send-btn">Send</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label class="check-label"><input title="" class="noborder" name="c_alert" id="c_alert" value="1" checked="" type="checkbox"> Send me similar ads by email</label>
                                            <label class="check-label"><input title="" class="noborder" name="c_newsletter" id="c_newsletter" value="1" checked="" type="checkbox"> Sign me up to the newsletter</label>
                                            <label class="check-label"><input title="" class="noborder" name="c_newsletter_third" id="c_newsletter_third" value="1" type="checkbox"> Send me promotions from third parties</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      </section>
                      <section role="tabpanel" aria-hidden="false" class="content" id="contact-tab">
                            <div class="p-20">
                                <div class="ad-contact-phone center m-b-20" style="display: block;">
                                    <div class="top">Call: 
                                        <span class="phone-number">01642372600</span>
                                    </div>
                                    <div class="top">Or: 
                                        <span class="phone-number">07969034140</span>
                                    </div>
                                    <div class="or">or send email message</div>
                                </div>
                                <form>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>First name</label>
                                            <input type="text" name="fname" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Last name</label>
                                            <input type="text" name="lname" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Email</label>
                                            <input type="text" name="email" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Phone number (optional)</label>
                                            <input type="text" name="phone" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>What do you want to ask?</label>
                                            <textarea rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label>Captcha</label>
                                            <div class="g-recaptcha" data-sitekey="6Lc_0f4SAAAAAF9ZA_d7Dxi9qRbPMMNW-tLSvhe6"></div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="small-24 columns center">
                                            <button name="register_send" id="register_send" class="button send-btn">Send</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-24 columns">
                                            <label class="check-label"><input title="" class="noborder" name="c_alert" id="c_alert" value="1" checked="" type="checkbox"> Send me similar ads by email</label>
                                            <label class="check-label"><input title="" class="noborder" name="c_newsletter" id="c_newsletter" value="1" checked="" type="checkbox"> Sign me up to the newsletter</label>
                                            <label class="check-label"><input title="" class="noborder" name="c_newsletter_third" id="c_newsletter_third" value="1" type="checkbox"> Send me promotions from third parties</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                      </section>
                    </div>
                </div>

                <div class="featured_ads_area">
                    <div class="media-object" style="background: #f2e9f3;">
                      <div class="media-object-section">
                        <div class="thumbnail">
                          <img src= "https://www.boatsandoutboards.co.uk/img/promotions/image_240.jpg">
                        </div>
                      </div>
                      <div class="media-object-section main-section">
                        <div class="title"><a rel="nofollow" target="_blank" href="#">Musto LPX Jackets</a></div>
                        <div class="descr">Hi-tech and light weight: Using 3-layer GORE-TEX® Paclite® Shell provides the perfect solution for racing sailors who want maximum breathability, a waterproof construction without compromising weight.</div>
                        <a class="visit-url" rel="nofollow" target="_blank" href="#">visit now &gt;</a>
                      </div>
                    </div>

                    <div class="media-object">
                      <div class="media-object-section">
                        <div class="thumbnail">
                          <img src= "https://www.boatsandoutboards.co.uk/img/promotions/image_240.jpg">
                        </div>
                      </div>
                      <div class="media-object-section main-section">
                        <div class="title"><a rel="nofollow" target="_blank" href="#">Classical rope for mooring and anchoring.</a></div> 
                        <div class="descr">Made out of 100% Polyester, very easy to splice, extremely tensile and abrasion resistant, does not stiffen up. </div>
                        <a class="visit-url" rel="nofollow" target="_blank" href="#">visit now &gt;</a>
                      </div>
                    </div>

                    <div class="media-object">
                      <div class="media-object-section">
                        <div class="thumbnail">
                          <img src= "https://www.boatsandoutboards.co.uk/img/promotions/image_240.jpg">
                        </div>
                      </div>
                      <div class="media-object-section main-section">
                        <div class="title"><a rel="nofollow" target="_blank" href="#">Baltic Soft Shell Flotation Jacket</a></div>
                        <div class="descr">The Softshell has a pliant waterproof soft shell fabric, with protected zips and waterproof taped seams. An integrated inflatable lung gives the Softshell the same performance as a 50 Newton buoyancy aid. </div>
                        <a class="visit-url" rel="nofollow" target="_blank" href="#">visit now &gt;</a>
                      </div>
                    </div>
                </div>
         