<div class="crumbs">
    <div class="float_left">
        <a href="http://www.boatquay.co.uk/adlink-test.php">Home</a> / <a href="http://www.boatquay.co.uk/adlink-test.php?emburl=%2FMotorboats-for-sale">Motor Boats </a> / <a href="http://www.boatquay.co.uk/adlink-test.php?emburl=%2FMotorboats%2FFishing-Boats-for-sale">Fishing Boats</a> / <a href="http://www.boatquay.co.uk/adlink-test.php?emburl=%2FMotorboats-for-sale%3Fads_ctid%3D219">United Kingdom</a> / <a href="http://www.boatquay.co.uk/adlink-test.php?emburl=%2FMotorboats-for-sale%2FNorth-East">North East</a>
    </div>
    <div class="clearer"></div>
</div>