    <div style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.38), 0 2px 10px 0 rgba(146, 143, 143, 0.1); background-color: #ffffff;">
        <div class="p-20 ad_header_block">
            <div class="top">
                <div class="price"><span ng-bind="'&#163; ' + ad.PriceOriginal"></span><br>
                    <small style="margin-right:0px;">new price</small><br>
                    <span class="price_descr">Vat Included / Paid</span>
                </div>
                <h1 class="title" ng-bind="ad.Title"></h1>
                <div class="seo_text"></div>
                <div class="top-footer clearfix">
                    <span class="location">
                        <span class="country-flag">
                            <img src="https://www.boatsandoutboards.co.uk/images/bandeiras/pais_flag_peq_219.gif" alt="United Kingdom" title="United Kingdom" width="21" height="15" border="0">
                        </span>
                        <a class="location" title="Boat Engines  in South West, Devon, " href="http://www.boatquay.co.uk/adlink-test.php?emburl=%2FBoat-engines-for-sale%2FDevon">South West, Devon, </a>
                    </span>
                    <span class="ref" ng-bind="'ad ref. '+ ad.AdRE">ad ref. BU736E529</span><span class="views" ng-bind="'  -  '+ ad.Views + ' Views'"></span>
                </div>
            </div>
        </div>
        <ul class="tabs" data-tab role="tablist">
            <li class="tab-title active"><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" aria-controls="panel2-1" title="Photos"><i class="fa fa-camera fa-2x" aria-hidden="true"></i><span class="hide-for-small-only">Photos</span></a></li>
            <li class="tab-title"><a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-2" title="Location"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><span class="hide-for-small-only">Location</span></a></li>
            <li class="tab-title"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-3" title="Share"><i class="fa fa-share-alt-square" aria-hidden="true"></i><span class="hide-for-small-only">Share</span></a></li>
            <li class="tab-title"><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-4" title="Print"><i class="fa fa-print fa-2x" aria-hidden="true"></i><span class="hide-for-small-only">Print</span></a></li>
            <li class="tab-title"><a href="#panel2-5" role="tab" tabindex="0" aria-selected="false" aria-controls="panel2-5" title="Report"><i class="fa fa-flag fa-2x" aria-hidden="true"></i><span class="hide-for-small-only">Report</span></a></li>
        </ul>
        <div class="tabs-content">
          <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
                <div style="border-bottom: 5px solid #4F4F4F;">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_1_1499340045_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_3_1499340053_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_2_1499340052_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_5_1499354821_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_4_1499340054_big.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_1_1499340045_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_3_1499340053_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_2_1499340052_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_5_1499354821_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_4_1499340054_big.jpg)"></div>
                        </div>

                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_1_1499340045_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_3_1499340053_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_2_1499340052_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_5_1499354821_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_4_1499340054_big.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_1_1499340045_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_3_1499340053_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_2_1499340052_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_5_1499354821_img.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(https://www.boatsandoutboards.co.uk/img/adphotos/paa/296/181296_-_photo_4_1499340054_big.jpg)"></div>
                        </div>
                    </div>
                </div>
                <div class="p-20">
                    <div class="small-24 medium-12 large-10 clearfix columns right">
                        <div>
                            <table width="100%" class="stack">
                                <tbody>
                                    <tr ng-if="ad.Type != ''">
                                      <td>Category:</td>
                                      <td class="text-right">
                                          <a href="javascript://" ng-bind="ad.Type"></a>
                                      </td>
                                    </tr>
                                    <tr ng-if="ad.Category != ''">
                                      <td>Subcategory:</td>
                                      <td class="text-right">
                                          <a href="javascript://" ng-bind="ad.Category"></a>
                                      </td>
                                    </tr>
                                    <tr ng-if="ad.PriceOriginal != ''">
                                      <td>Price:</td>
                                      <td class="text-right">
                                          <a href="javascript://" ng-bind="'&#163; ' + ad.PriceOriginal">available</a>
                                      </td>
                                    </tr>
                                    <tr ng-repeat="data in ad.DataFields" >
                                      <td ng-bind="data.label"></td>
                                      <td class="text-right"><a href="javascript://" ng-bind="data.value"></a>
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="ad_descr clearfix">
                        <h2 ng-bind="ad.Title"></h2><br>
                        <span ng-bind="ad.DescriptionHtml"></span>
                    </div>
                </div>
            </section>
            <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2492.832819959566!2d-2.771723284692416!3d51.33259473129078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4871f5e6fa04532b%3A0x201873a41a1ea159!2sBlagdon+Water+Gardens!5e0!3m2!1sen!2s!4v1505718566658" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <form>
                        <div class="row p-20">
                            <div class="small-24 columns">
                              <label class=" m-r-10">Get Directions:</label>
                              <input type="text" class="m-b-0" placeholder="Your PostCode">
                              <a href="javascript://">Find</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section role="tabpanel" aria-hidden="false" class="content" id="panel2-3">
                <div class="p-20">
                    <div class="row m-b-20">
                        <div class="small-24 columns">
                            <h2>Send this classified to a friend!</h2>
                            <div>Fill in the form below</div>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="small-24 columns">
                                <label>Your name:</label>
                                <input type="text" name="name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-24 columns">
                                <label>Your email:</label>
                                <input type="text" name="email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-24 columns">
                                <label>Friend name:</label>
                                <input type="text" name="friend_name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-24 columns">
                                <label>Friend email:</label>
                                <input type="text" name="friend_email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-24 columns">
                                <label>Comment:</label>
                                <textarea rows="3" name="comment"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-24 columns center">
                                <button name="register_send" id="register_send" class="button send-btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section role="tabpanel" aria-hidden="false" class="content" id="panel2-4">
                <div class="p-20">Coming soon!</div>
            </section>
            <section role="tabpanel" aria-hidden="false" class="content" id="panel2-5">
                <div class="p-20">Coming soon!</div>
            </section>
        </div>
    </div>
    <div class="m-t-20">
        <a href="#" class="alertButton secondary-btn-2 button contact-de-text"><i class="fa fa-phone-square m-r-10" aria-hidden="true"></i>Contact details</a>
        <a href="#" class="alertButton secondary-btn-2 button contact-de-num" style="display: none;"><i class="fa fa-phone-square m-r-10" aria-hidden="true"></i>Call: 07767 498545</a>
        <a href="#" class="alertButton secondary-btn-2 button" data-reveal-id="myModal-email"><i class="fa fa-envelope-o m-r-10" aria-hidden="true"></i>Send email</a>

        <div id="myModal-email" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <form>
                <div class="row">
                    <div class="small-24 columns">
                        <label>First name</label>
                        <input type="text" name="fname" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-24 columns">
                        <label>Last name</label>
                        <input type="text" name="lname" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-24 columns">
                        <label>Email</label>
                        <input type="text" name="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-24 columns">
                        <label>Phone number (optional)</label>
                        <input type="text" name="phone" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-24 columns">
                        <label>What do you want to ask?</label>
                        <textarea rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="small-24 columns">
                        <label>Captcha</label>
                        <div class="g-recaptcha" data-sitekey="6Lc_0f4SAAAAAF9ZA_d7Dxi9qRbPMMNW-tLSvhe6"></div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="small-24 columns center">
                        <button name="register_send" id="register_send" class="button send-btn">Send</button>
                    </div>
                </div>
                <div class="row">
                    <div class="small-24 columns">
                        <label class="check-label"><input title="" class="noborder" name="c_alert" id="c_alert" value="1" checked="" type="checkbox"> Send me similar ads by email</label>
                        <label class="check-label"><input title="" class="noborder" name="c_newsletter" id="c_newsletter" value="1" checked="" type="checkbox"> Sign me up to the newsletter</label>
                        <label class="check-label"><input title="" class="noborder" name="c_newsletter_third" id="c_newsletter_third" value="1" type="checkbox"> Send me promotions from third parties</label>
                    </div>
                </div>
            </form>
            <a class="close-reveal-modal" aria-label="Close">X</a>
        </div>
    </div>

    <div class="ad-block-specs">
        <div class="ad-block-title">Specifications</div>
            <div class="ad-block-content">
                <table width="100%" class="stack">
                    <tbody>
                        <tr  ng-repeat="data in ad.DataFields">
                          <td ng-bind="data.label"></td>
                          <td class="text-right" ng-bind="data.value"><a></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <div id="listingDiv">
    <div class="member_titles m-b-20" ng-bind="'Other adverts from this member: ' + ad.Username"></div>
    <div class="listing" ng-repeat="ad in ad.UserAds">
        <!--<a ui-sref="ad-detail({adSlug: 'mercury-f115exlpt-ct-efi'})" class="tricky-link">Mercury - F115EXLPT CT EFI</a>-->
        <div class="featured-ribbon">featured</div>
        <div class="urgent-ribbon">urgent</div>
        <div class="clearfix">
            <div class="list-col-1">
                <div class="list-img ">
                    <img alt="{{ad.Title}}" class="lazy" ng-src="{{ad.Photos[0].Photo}}" style="display: inline-block;">
                </div>
                <div class="clearfix list-mob-icons">
                    <span class="list-img-num">
                        1
                    </span>
                    <span id="fav_16255411">
                        <a href="javascript:void(0)" class="unsaved-item outside-tricky">FA</a>
                    </span>
                </div>
            </div>
            <div class="list-col-2">
                <div class="clearfix details">
                    <h5 class="list-title">
                    <a ui-sref="ad-detail({adSlug: ad.slug, category: ad.slugcategory, adId: ad.ID})" ng-init="suffix = (ad.Title.length > 50) ? '...' : ''" ng-bind="(ad.Title | limitTo:50) + suffix"></a>
                    </h5>
                    <div class="list-price" ng-bind="'&#163; ' + ad.PriceOriginal"></div>
                    <div class="clearfix"></div>
                    <div class="props clearfix hide-for-small-only">
                        <div class="prop" ng-if="ad.Category != ''">
                            <span class="al-label">Subcategory</span>
                            <span class="value" ng-bind="ad.Category"></span>
                        </div>
                        <div class="prop"> 
                            <span class="al-label">Mooring Country</span>
                            <span class="value">United Kingdom</span>
                        </div>
                        <div class="prop"> 
                            <span class="al-label">Year built</span>
                            <span class="value"> - </span>
                        </div>
                        <div class="prop"> 
                            <span class="al-label">Cylinder capacity</span>
                            <span class="value"> - </span>
                        </div>
                        <div class="prop"> 
                            <span class="al-label">Power</span>
                            <span class="value"> - </span>
                        </div>
                        <div class="prop"> 
                            <span class="al-label">Weight dry</span>
                            <span class="value"> - </span>
                        </div>
                    </div>
                    <div class="desc hide-for-small-only" ng-init="suffix = (ad.Description.length > 100) ? '...' : ''" ng-bind="(ad.Description | limitTo:100) + suffix"></div>
                </div>
                <div class="upsells" ng-show="ad.is_featured"></div>
                <div class="list-distance">
                    <div class="clearfix">
                        <div class="list-miles">
                            <b>United Kingdom</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
