<div class="row">

<div ui-view="subheader" class="small-24 medium-24 large-24 columns"></div>

<div ui-view="content" class="small-24 medium-17 large-17 columns m-b-20"></div>

<div ui-view="sidebar" class="small-24 medium-7 large-7 columns m-b-20 hide-for-small-only"></div>

</div>